In [9]:
class Employee:
    employee_count = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1

    def average_salary(self, *salaries):
        total_salary = sum(salaries) + self.salary
        average = total_salary / (len(salaries) + 1)
        return average

class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department, hours_per_week):
        super().__init__(name, family, salary, department)
        self.hours_per_week = hours_per_week
employee1 = Employee("anusree", "Family sree", 50000, "HR")
employee2 = FulltimeEmployee("vicky", "Family vicky", 60000, "IT", 40)
average_salary_employee1 = employee1.average_salary(55000, 60000)
print(f"Average Salary for Employee 1: ${average_salary_employee1}")

average_salary_employee2 = employee2.average_salary(65000, 70000)
print(f"Average Salary for Employee 2: ${average_salary_employee2}")
print(f"Total Number of Employees: {Employee.employee_count}")

Average Salary for Employee 1: $55000.0
Average Salary for Employee 2: $65000.0
Total Number of Employees: 2

In [10]:
import numpy as np

random_vector = np.random.uniform(1, 20, 20)
reshaped_array = random_vector.reshape(4, 5)
reshaped_array[np.arange(len(reshaped_array)), reshaped_array.argmax(axis=1)] = 0

print("Original array:")
print(random_vector)
print("\nReshaped array:")
print(reshaped_array)

Original array:
[ 4.82129353 11.34500767 13.01329696 11.98142526  0.         16.48334288
 10.20083631  7.5594927   0.         17.43413334 11.42496845  0.
 11.29347764  6.53606341 13.18018117 14.37132524  7.07468861  1.64068863
 15.08888537  0.        ]

Reshaped array:
[[ 4.82129353 11.34500767 13.01329696 11.98142526  0.        ]
 [16.48334288 10.20083631  7.5594927   0.         17.43413334]
 [11.42496845  0.         11.29347764  6.53606341 13.18018117]
 [14.37132524  7.07468861  1.64068863 15.08888537  0.        ]]